body {
  display: inline-flex;
  background-color: grey;
  width: 50%;
  margin: 0 0 0 25%;
  justify-content: center;
}

.header {
  margin-bottom: 430px;
}

.cards {
  position: relative;
}
.deleteButton {
  position: absolute;
  right: -385px;
}

.editButton {
  position: absolute;
  right: -150px;
}

.cards Button {

}